{% extends "base.html" %}

{% block content %}

    <h1 class="heading-text">Comments
        <a href="{% url "add_comment" %}"
           class="btn btn-primary ms-3"
        >Add</a>
    </h1>
    <hr>
    {% for comment in comments %}
        <div class="" style="background-color: whitesmoke">
            <h5 style="display: inline">{{ comment.user_name }}</h5>
            <p style="display: inline; margin-left: 20px">{{ comment.created_at }}</p>
        </div>
        <p>{{ comment.text }}</p>
        <a class="btn btn-primary btn-sm" href="{% url 'add_comment_reply' parent_comment_id=comment.id %}">Reply</a>
        {% if comment.replies.all.exists %}
            {% include "includes/comment.html" with comments=comment.replies.all depth=1 %}
        {% endif %}
        <hr>
    {% endfor %}
{% endblock %}